* {
    margin: 0px;
    font-family: 'Poppins';
}

body {
    margin: 0px;
    overflow-x: hidden;
}

h1 {
    padding: 0px;
    margin: 0px;
    margin-left: 10%;
    color: black;
}

header {
    top: 0px;
    position: fixed;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(58,12,163);
    background: linear-gradient(135deg, rgba(58,12,163,1) 0%, rgba(76,201,240,1) 100%);
    z-index: 2;
    box-shadow: 1px 5px 4px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 5px 4px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 5px 4px -3px rgba(0, 0, 0, 0.75);
}

#header_check{
    display: none;
}

.header_label{
    display: none;
}

.h1_rademy{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rademy{
    margin: 0px;
    margin-left: 1%;
}

.a_rademy{
    color: #4cc9f0;
    transition: 0.5s;
    background: #4CC9F0;
    background: linear-gradient(to right, #4CC9F0 0%, #2259F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    width: 55%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
}

ul {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;

}


li {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 20px;
    color: black;
}

main {
    margin-top: 7vh;
}

.carousel {
    width: 100vw;
    height: 93vh;
    z-index: 1;
}

.img_carousel {
    width: 100vw;
    height: 93vh;
}

.contenedor_1 {
    width: 100vw;
    height: 100vh;
    background: rgb(114,9,183);
    background: linear-gradient(0deg, rgba(114,9,183,1) 0%, rgba(58,12,163,1) 50%, rgba(67,97,238,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienes_somos{
    background-color: #aa6bd4;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 10px 16px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -3px rgba(0, 0, 0, 0.75);
}

.quienes_somos_2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1_qs{
    margin: 0px;
}

.img_qs {
    width: 30%;
    height: 70%;
    border-radius: 20px;
}

.contenedor_2 {
    width: 100vw;
    height: 100vh;
    background-color: #7209b7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursos {
    background-color: #4CC9F0;
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 10px 16px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -3px rgba(0, 0, 0, 0.75);
}

.cursos_h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 3rem;
}

.cursos_contenedor_1 {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.cursos_contenedores {
    width: 350px;
    height: 570px;
    background-color: #4361EE;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    transition: all .5s;
}

.cursos_contenedores:hover{
    width: 25%;
    height: 105%;
}

.img_cursos {
    width: 65%;
    height: 45%;
    overflow: hidden;
}

.p_cursos {
    font-size: 1rem;
    margin: 0px;
    color: #FFFFFF;
    padding: 4%;
}

.h3_cursos{
    color: white;
}

.cursos_div {
    height: 47%;
}

.cursos_bt {
    border: 1px solid black;
    background-color: #f7388e;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.cursos_bt:hover{
    background-color: #f74d99;
}

.form_curso{
    width: 15%;
    height: 8%;
    transition: all .4s;
}

.form_curso:hover{
    width: 17%;
}

.contenedor_3 {
    width: 100vw;
    height: 100vh;
    background: rgb(67,97,238);
    background: linear-gradient(0deg, rgba(67,97,238,1) 0%, rgba(58,12,163,1) 64%, rgba(114,9,183,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 430px;
    padding: 5px;
    background-color: #7209B7;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
}

.form_contacto {
    width: 50%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.p_contacto {
    padding: 10px 50px;
    color: #FFFFFF;
}

.contacto_bt {
    background-color: #b74bff;
    border: 2px solid black;
    border-radius: 10px;
}

footer {
    background-color: #b74bff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 6%;
}

.footer_p{
    margin: 0px;
    padding-right: 2%;
}

.footer_ul{
    width: 10%;
    height: 100%;
    align-items: center;
}

.body_registro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(67,97,238);
    background: linear-gradient(153deg, rgba(67,97,238,1) 0%, rgba(58,12,163,1) 50%, rgba(114,9,183,1) 100%);
}

.contenedor_registro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 50%;
    background-color: #7209B7;
    border-radius: 20px;
    box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
}

.h2_registro{
    color: black;
}

.form_registro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 60%;
}

.p_registro{
    text-align: center;
}

.inputs_registro{
    border-radius: 5px;
    border: 1px solid black;
    background-color: #aa6bd4;
    color: black;
}

.inputs_registro::placeholder{
    color: black;
    opacity: 1;
}

.registro_bt{
    border-radius: 10px;
    background-color: #ab2dff;
    border: 1px solid black;
    transition: all 1s;
}

.registro_bt:hover{
    background-color: #bd5aff;
}

.registro_a{
    text-decoration: underline;
}

.body_login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(67,97,238);
    background: linear-gradient(153deg, rgba(67,97,238,1) 0%, rgba(58,12,163,1) 50%, rgba(114,9,183,1) 100%);
}

.contenedor_login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 35%;
    background-color: #7209B7;
    border-radius: 20px;
    box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.75);
}

.form_login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 50%;
}

.a_header{
    transition: 0.5s;
}

.a_header:hover{
    color: #4361EE;
    font-size: 1.1em;
}

.a_rademy:hover{
    font-size: 1.1em;
}

.p_qs::first-letter{
    font-size: 1.2em;
}

/*MEDIA QUERIES*/

@media (max-width: 1750px){
    .quienes_somos{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 90%;
        align-items: center;
    }
    .img_qs{
        height: 450px;
        width: 450px;
    }
    .quienes_somos_2{
        width: 90%;
        height: 30%;
    }

}

@media (max-width: 1800px){
    .cursos_contenedor_1{
        flex-wrap: wrap;
        overflow: scroll;
    }

    .cursos_contenedores{
        margin: 12px;
    }

    .cursos_contenedores:hover{
        width: 360px;
    }

    .form_curso{
        width: 200px;
    }

    .form_curso:hover{
        width: 300px;
    }

    .contacto_div{
        width: 450px;
        height: 430px;
        padding: 5px;
    }
}

@media (max-width: 1300px){
    .carousel{
        display: none;
    }

    header{
        height: 12vh;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .h1_rademy{
        height: 50%;
        width: 100%;
        text-align: center;
        justify-content: center;
        background: #4CC9F0;
    background: linear-gradient(to right, #4CC9F0 0%, #3A0CA3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    }

    .header_ul{
        width: 100%;
    }

    nav{
        justify-content: center;
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 700px){
    .img_qs{
        width: 300px;
        height: 300px;
    }

    .footer_ul{
        margin-left: 10px;
    }
}

@media (max-width: 550px){
    nav{
        justify-content: space-around;
    }

    footer{
        flex-direction: column;
        height: 10%;
    }

    .footer_p{
        text-align: center;
    }
}

@media (max-width: 450px){
    .quienes_somos{
        width: 100%;
    }
}